body {
    background-color: black;
    background-image: url(Assets/mall.jpg); 
    background-repeat: no-repeat;
    background-size: cover;

}
header {
    display: flex;
    margin: 0;
}
.backPack{
    max-width: 10rem;
}
h1 {
    font-family: 'Nosifer', sans-serif;
    color: red;
    font-size: 5rem;
    text-shadow: 2px 2px black;
    text-align: center;
    margin: auto;
    margin-top: 0;
   
}
main p{
    color: white;
    padding: 1rem;
    font-size: large;
}
.story {
    background: black;
    border-radius: 2rem;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 0;
}
img{
    cursor: pointer;
}

button {
    background-color: red;
    color:black;
    font-weight: bold;
    border-radius: 15px;
    padding: 1rem;
    margin: 5px;
    cursor: pointer;
}
#zombieAttack{
    width: 90%;
    text-align: center;
    margin: auto;
    z-index: 3;
    position: absolute; 
}
#zombieAttackText {
    background: black;
}
#pharmacy img {
max-width: 10rem;
cursor: pointer;
}
#penicillin{
    margin-right: 5000px;
    margin-top: 1rem;
    overflow: hidden;
}
#firstAid {
    margin-left: 700px;
    margin-bottom: 500px;
}
.pickUp-count-Badge {
    display: grid;
    color: white;
    place-items: center;
    border-radius: 100rem;
    width: 2rem;
    height: 2rem;
}
#outDoorStore img{
    max-width: 10rem;
}
#pistol{
    margin-top: 20rem;
}
#knife{
    margin-left: 50rem;
    margin-bottom: 30rem;
}
#groceryStore img{
    max-width: 10rem;
}

.go-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    color: white;
    font-size: x-large;
    padding: 1rem;
    border-radius: 2rem;

}


