body {
    background-color: black;
    background-image: url(Assets/mall.jpg); 
    background-repeat: no-repeat;
    background-size: cover;

}
header {
    display: flex;
    margin: 0;
}
.backpack{
    max-width: 10rem;
}
main{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 0;
   
}
main h1 {
    font-family: 'Nosifer', sans-serif;
   color: red;
   font-size: 5rem;
   
}
main p{
    color: white;
    border-radius: 2rem;
    padding: 1rem;
    font-size: large;
}
.story {
    background: black;
}

.scenario-screen {
    background: red;
}
button {
    background-color: red;
    color:black;
    font-weight: bold;
    border-radius: 15px;
    padding: 1rem;
    margin: 5px;
    cursor: pointer;
}
#pharmacy img {
max-width: 10rem;
}
#penicillin{
    margin-right: 5000px;
    margin-top: 1rem;
    overflow: hidden;
}
#firstAid {
    margin-left: 700px;
    margin-bottom: 500px;
}
