body {
    background-color: black;
    background-image: url(Assets/mall.jpg); 
    background-repeat: no-repeat;
    background-size: cover;

}
#text{
    font-size: x-large;
}
header {
    margin: 0;
}
.backPack{
    max-width: 5rem;
}
#badgeCount {
    color: white;
    font-size: xx-large;
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: rgb(117, 157, 117);
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0.2rem solid green;
}
h1 {
    font-family: 'Nosifer', sans-serif;
    color: red;
    font-size: 5rem;
    text-shadow: 2px 2px black;
    text-align: center;
    margin: auto;
    margin-top: 0;
   
}
main p{
    color: white;
    padding: 1rem;
    font-size: large;
}
.story {
    background: black;
    border-radius: 2rem;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 0;
}
img{
    cursor: pointer;
}

button {
    background-color: red;
    color:black;
    font-weight: bold;
    border-radius: 15px;
    padding: 1rem;
    margin: 5px;
    cursor: pointer;
}
#zombieAttack{
    display: flex;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    z-index: 3;
    position: absolute; 
    background: rgba(0, 0, 0, 0.525);
}


#pharmacy img {
max-width: 10rem;
cursor: pointer;
}
#penicillin{
    margin-right: 5000px;
    margin-top: 1rem;
    overflow: hidden;
}
#firstAid {
    margin-left: 700px;
    margin-bottom: 500px;
}

#outDoorStore img{
    max-width: 10rem;
}
#pistol{
    margin-top: 20rem;
}
#knife{
    margin-left: 50rem;
    margin-bottom: 30rem;
}
#groceryStore img{
    max-width: 10rem;
}

.go-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    color: white;
    font-size: x-large;
    padding: 1rem;
    border-radius: 2rem;

}


